.title {
  font-size: 5rem;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  top: 100%;
  left: 0;
  background-color: var(--color-secondary);
}

.description {
  width: 100%;
  margin-top: 3rem;
}
