.flat {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px 20px;
}

.flat:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.ghost {
  background-color: var(--color-primary);
  color: var(--color-light);
  /* background-color: var(--color-primary); */
}
.ghost:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

.empty {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 10px 20px;
}

.empty:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.flat,
.ghost,
.empty {
  border-radius: 6px;
  transition: all 0.2s;
}
