.form {
  /* width: 70%; 
  margin: 1rem 0; */
  /* background-color: red; */
}

.input {
}

.textarea {
  height: 20rem;
}

.error {
  border: 2px solid red;
}

.input,
.textarea {
  flex: 1;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  border: 0.2px solid var(--color-secondary);
  margin: 0.6rem 0.6rem 0.6rem 0;
  padding: 1rem;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.error {
  border: 2px solid var(--color-error);
}

.input:focus,
.textarea:focus {
  border: 1px solid var(--color-light);
}
.input::placeholder,
.textarea::placeholder {
  font-size: inherit;
  color: var(--color-light);
  opacity: 0.5;
}

.input,
.btn {
  height: 5rem;
}

.entry {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 49rem) {
  .entry:first-child {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  margin-top: 3rem;
  /* margin-left: 0.6rem; */
}
