.links {
  /* color: var(--color-secondary); */
}

.techs {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  list-style: inside;
}

.techs > *:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.suite {
  display: none;
}

.menu {
  display: flex;
  margin: 2rem 0;
}

.menu li > * {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-right: 2rem;
}

.active {
  border-bottom: 1.5px solid var(--color-secondary);
}
