.links {
  /* color: var(--color-secondary); */
}

.techs {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  list-style: inside;
}

.techs > *:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.suite {
  display: none;
}

.myself p {
  margin-top: 2rem;
}

.menu {
  display: flex;
  margin: 2rem 0;
}

.menu li > * {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-right: 2rem;
}

.active {
  border-bottom: 1.5px solid transparent;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  animation-name: menu;
  animation-duration: 0.5s;
  top: 109%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary);
}

@keyframes menu {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}
