.links {
  /* color: var(--color-secondary); */
}

.techs {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  list-style: inside;
}

.techs > *:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.suite {
  display: none;
}

.myself p {
  margin-top: 2rem;
}

.menu {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.myself-container {
  width: 60%;
}

@media only screen and (max-width: 35rem) {
  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    grid-gap: 1rem 0;
  }
  .myself-container {
    width: 100%;
  }
}

.menu li > * {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-right: 2rem;
}

.active {
  border-bottom: 1.5px solid transparent;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  animation-name: menu;
  animation-duration: 0.5s;
  top: 109%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary);
}

@keyframes menu {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

.personal-image {
  background-image: url("../public/hamza-sehouli-image.jpg");
  width: 29rem;
  height: 29rem;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  position: relative;
  margin: 4rem 0;
}

@media only screen and (max-width: 21rem) {
  .personal-image {
    width: 18rem;
    height: 18rem;
  }
}

.personal-image::before {
  top: -10px;
  right: -10px;
  background-color: var(--color-secondary-light);
  z-index: -9;
}

.personal-image::after,
.personal-image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
}

.personal-image::after {
  transition: all 0.2s;
  background-color: var(--color-secondary-light);
}

.personal-image:hover::after {
  background-color: transparent;
}
.personal-image:hover::before {
  right: 10px;
  top: 10px;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 77rem) {
  .about-section {
    flex-direction: column;
  }
}
