@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
:root {
  --color-primary-light: black;
  --color-primary: #071c21;
  --color-primary-dark: black;

  --color-secondary-light: #14ffeb67;
  --color-secondary: #14ffec;
  --color-secondary-dark: yellow;

  --color-dark: #222831;
  --color-light: #ccd6f6;

  --color-error: #e57373;
  --color-success: #81c784;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-primary);
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: var(--color-light);
}
p {
  line-height: 150%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

footer {
  background-color: var(--color-primary-light);
}

.base-main {
  max-width: 90%;
  margin: 0 auto;
  /* max-height: 100vh; */
  padding: 15rem 0;
}

.hero {
  /* height: 100%; */
  animation-name: hero;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
@keyframes hero {
  from {
    opacity: 0;
    /* transform: translateY(-20px); */
  }

  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.name {
  font-size: 8rem;
  margin-bottom: 0.5rem;
}
.identity {
  font-size: 5rem;
  opacity: 0.7;
  width: 80%;
}

.description {
  margin-top: 30px;
  font-size: 2rem;
  margin-bottom: 40px;
}

::selection {
  background-color: #14ffec;
  color: #071c21;
}

.icons {
  position: fixed;
  right: 5rem;
  top: 20rem;
  z-index: 999999999;
  flex-direction: column;
}

.icons > *:not(:last-of-type) {
  margin-bottom: 1rem;
}

main {
  position: relative;
}

.icon,
.icon-responsive {
  fill: var(--color-light);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon {
  transition: all 0.3s;
  animation-name: icons;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.icons-responsive {
  display: none;
  justify-content: center;
}

.icon-responsive {
  width: 20px;
  height: 20px;
  margin-right: 1.5rem;
}
@keyframes icons {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon:hover {
  fill: var(--color-secondary);
  transform: rotate(-360deg);
  /* transform: translateX(-2rem); */
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  border: 1px solid var(--color-secondary);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--color-secondary);
}

@media only screen and (max-width: 57rem) {
  .name {
    font-size: 7rem;
  }
  .identity {
    font-size: 4rem;
  }
  .description {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 41rem) {
  .name {
    font-size: 6rem;
  }
  .identity {
    font-size: 3rem;
  }
  .description {
    font-size: 1.4rem;
    margin-top: 12px;
  }

  .logo {
    transform: scale(0.7);
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media only screen and (max-width: 33rem) {
  .name {
    font-size: 4rem;
  }
  .identity {
    font-size: 3rem;
  }
  .description {
    font-size: 1.4rem;
    margin-top: 12px;
  }
  .name,
  .identity,
  .description {
    width: 100%;
    text-align: center;
  }
  .icons-responsive {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 74rem) {
  .icons {
    display: none;
  }

  .icons-responsive {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 23rem) {
  .name {
    font-size: 3.5rem;
  }
  .identity {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.2rem;
    margin-top: 12px;
  }
  .name,
  .identity,
  .description {
    width: 100%;
    text-align: center;
  }
  .icons-responsive {
    display: flex;
  }

  /* .base-main {
    padding: 1.7rem 0;
  } */
  .logo {
    transform: scale(0.5);
  }
}

@media only screen and (max-width: 41rem) {
  body {
    font-size: 1.4rem;
  }
}

@media only screen and (max-height: 27rem) {
  .icons {
    display: none;
  }

  .icons-responsive {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (max-height: 13rem) {
  .logo-responsive {
    transform: scale(0.5);
  }
}

.form-section {
  width: 60%;
}

@media only screen and (max-width: 30rem) {
  .form-section {
    width: 80%;
  }
}
@media only screen and (max-width: 25rem) {
  .form-section {
    margin: 0 auto;
  }
}
